<footer class="pb-4 bg-primary-3 text-light" id="footer">
  <div class="container">
    
    <div class="row mb-5">
      <div class="col-6 col-lg-3 col-xl-2">
        <h5>Navega</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link">Catalogo</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Serie Artist</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Rastrea tu taza</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg">
        <h5>Contact</h5>
        <ul class="list-unstyled">
          <li class="mb-3 d-flex">
            <img class="icon" src="assets/img/icons/theme/map/marker-1.svg" alt="marker-1 icon" data-inject-svg />
            <div class="ml-3">
              <span>Escribenos en Facebook
                <br /><a href="https://www.facebook.com/MK-Tazas-Dise%C3%B1os-106694424291287" target="_blank">Aqui</a></span>
            </div>
          </li>
          <li class="mb-3 d-flex">
            <img class="icon" src="assets/img/icons/theme/communication/call-1.svg" alt="call-1 icon" data-inject-svg />
            <div class="ml-3">
              <span>Horario de atencion</span>
              <span class="d-block text-muted text-small">Lunes - Viernes 9am - 5pm</span>
            </div>
          </li>
          <li class="mb-3 d-flex">
            <img class="icon" src="assets/img/icons/theme/communication/mail.svg" alt="mail icon" data-inject-svg />
            <div class="ml-3">
              <a href="#">servicioCliente@mktazas.com</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-xl-4 mt-3 mt-lg-0">
        <h5>Suscribete!</h5>
        <p>Recibe nuestros nuevos productos y promociones.</p>
        <form action="/forms/mailchimp.php" data-form-email novalidate>
          <div class="form-row">
            <div class="col-12">
              <input type="email" class="form-control mb-2" placeholder="Email Address" name="email" required>
            </div>
            <div class="col-12">
              <div class="d-none alert alert-success" role="alert" data-success-message>
                Gracias!, nos comunicaremos tan pronto como sea posible.
              </div>
              <div class="d-none alert alert-danger" role="alert" data-error-message>
                Por favor llenar los campos requeridos.
              </div>
              <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft">
              </div>
              <button type="submit" class="btn btn-primary btn-loading btn-block" data-loading-text="Sending">
                <img class="icon" src="assets/img/icons/theme/code/loading.svg" alt="loading icon" data-inject-svg />
                <span>Subscribe</span>
              </button>
            </div>
          </div>
        </form>
        <small class="text-muted form-text">We’ll never share your details. See our <a href="#">Privacy Policy</a>
        </small>

      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-auto">
        <ul class="nav">
          <li class="nav-item">
            <a href="https://www.instagram.com/mk_tazas/" class="nav-link" target="_blank">
              <img class="icon undefined svg-icon" src="assets/img/icons/social/instagram.svg" alt="instagram social icon" xlink:href="data:image/png;base64" />
            </a>
          </li>
          
          <li class="nav-item">
            <a href="https://www.facebook.com/MK-Tazas-Dise%C3%B1os-106694424291287" class="nav-link" target="_blank">
              <img class="icon undefined svg-icon" src="assets/img/icons/social/facebook.svg" alt="facebook social icon" xlink:href="data:image/png;base64" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-auto text-center">
        <small class="text-muted">&copy;2019 This page is protected by reCAPTCHA and is subject to the Google <a href="https://www.google.com/policies/privacy/">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service.</a>
        </small>
      </div>
    </div>
  </div>
</footer>
<a href="#" class="btn back-to-top btn-primary btn-round" data-smooth-scroll data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
  <img class="icon svg-icon" src="assets/img/icons/theme/navigation/arrow-up.svg" alt="arrow-up icon" xlink:href="data:image/png;base64"/>
</a>
