<div class="loader d-none">
    <div class="loading-animation"></div>
  </div>
  <div class="navbar-container bg-primary-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary-3" data-sticky="top">
      <div class="container">
        <a class="navbar-brand fade-page" href="index.html">
          <img src="assets/img/logo-white.svg" alt="Leap">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <img class="icon navbar-toggler-open svg-icon" src="assets/img/icons/interface/menu.svg" alt="menu interface icon" xlink:href="data:image/png;base64" />
          <img class="icon navbar-toggler-close svg-icon" src="assets/img/icons/interface/cross.svg" alt="cross interface icon" xlink:href="data:image/png;base64" />
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <div class="py-2 py-lg-0">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a routerLink="/inventario" routerLinkActive="active" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">Catalogo</a>
              </li>
              <li class="nav-item">
                <a routerLink="/nosotros" routerLinkActive="active" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">Sobre nosotros</a>
              </li>
              <li class="nav-item">
                <a routerLink="/contacto" routerLinkActive="active" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">Contacto</a>
              </li>
              <li class="nav-item">
                <a routerLink="/artist" routerLinkActive="active" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">Serie Artist</a>
              </li>
              <li class="nav-item">
                <a routerLink="/rastreo" routerLinkActive="active" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">Rastrea tu taza</a>
              </li>
              
              
              
              
            </ul>
          </div><a href="#" class="btn btn-primary ml-lg-3">Comprar mi taza!</a>
  
        </div>
      </div>
    </nav>
  </div>
  
