<div data-overlay class="bg-primary text-light o-hidden position-relative">
    <div class="position-absolute w-100 h-100 o-hidden top-0">
      <div class="decoration right bottom scale-2">
        <img class="bg-primary-2 " src="assets/img/decorations/deco-blob-2.svg" alt="deco-blob-2 decoration" data-inject-svg />
      </div>
      <div class="decoration right bottom scale-3">
        <img class="bg-white svg-icon" src="assets/img/decorations/deco-dots-6.svg" alt="deco-dots-6 decoration" data-inject-svg />
      </div>
      <div class="decoration top left scale-2  d-none d-md-block">
        <img class="bg-primary-3" src="assets/img/decorations/deco-blob-1.svg" alt="deco-blob-1 decoration" data-inject-svg />
      </div>
    </div>
    <section class="min-vh-70 o-hidden d-flex flex-column justify-content-center">
      <div class="container">
        <div class="row justify-content-center text-center align-items-center">
          <div class="col-xl-8 col-lg-9 col-md-10 layer-3" data-aos="fade-up" data-aos-delay="500">
            <h1 class="display-3">
          Tu taza<br>tu estilo
        </h1>
            <div class="mb-4">
              <p class="lead px-xl-5">
                Si deseas una taza personalizada, este es el sitio! contamos con diseños predeterminados o podemos dessarrollar la idea que tengas!.
              </p>
            </div>
            <a class="btn btn-lg btn-white mx-1" data-smooth-scroll routerLink="/inventario" routerLinkActive="active">Catalogo</a>
            <a class="btn btn-lg btn-primary-3 mx-1" routerLink="/inventario" routerLinkActive="active">Comprar mi taza</a>
          </div>
        </div>
      </div>
    </section>
    <div class="divider flip-x">
      <img src="assets/img/dividers/divider-2.svg" alt="graphical divider" data-inject-svg />
    </div>
  </div>
  <section class="text-center" id="demos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9">
          <h2 class="h1">Contamos con diferentes modelos para cada ocasion.</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-6">
          <a class="fade-page" href="home-coworking.html">
            <img src="assets/img/demos/home-coworking.png" alt="Coworking" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
          </a>
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
              <a href="home-coworking.html" class="fade-up">
                <h3 class="h2">Negra con ventana<span class="badge badge-primary ml-2">Nueva</span></h3>
              </a>
              <p class="lead">
                Enmarca tus diseños en este nuevo estilo.
              </p>
              <ul class="list-unstyled my-3">
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/home/clock.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Date picker</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/communication/rss.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Blog listing cards</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/media/movie-lane-2.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Fullscreen video lightbox</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-6">
          <a class="fade-page" href="home-mobile-app.html">
            <img src="assets/img/demos/home-mobile-application.png" alt="Mobile Application" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
          </a>
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
              <a href="home-mobile-app.html" class="fade-up">
                <h3 class="h2">Taza magica</h3>
              </a>
              <p class="lead">
                Revela o esconde tu diseño con agua caliente!.
              </p>
              <ul class="list-unstyled my-3">
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/devices/iphone-x.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Screenshot slider</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/media/movie-lane-2.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Fullscreen video lightbox</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/layout/layout-arrange.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Masonry testimonials</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-6">
          <a class="fade-page" href="home-course.html">
            <img src="assets/img/demos/home-course.png" alt="Online Course" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
          </a>
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
              <a href="home-course.html" class="fade-up">
                <h3 class="h2">Taza de peltre</h3>
              </a>
              <p class="lead">
                Taza ideal para todos tus viajes.
              </p>
              <ul class="list-unstyled my-3">
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/communication/add-user.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Signup form</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/communication/chat-6.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Testimonial slider</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/home/book-open.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Chapter overview cards</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-6">
          <a class="fade-page" href="home-saas.html">
            <img src="assets/img/demos/home-saas.png" alt="SaaS Application" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
          </a>
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
              <a href="home-saas.html" class="fade-up">
                <h3 class="h2">Perlada</h3>
              </a>
              <p class="lead">
                Diseño elegante ideal para tu nuevo diseño
              </p>
              <ul class="list-unstyled my-3">
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/communication/add-user.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Signup form</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/cooking/dish.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Image with hotspot</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/communication/dial-numbers.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Feature comparison table</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-6">
          <a class="fade-page" href="home-saas-trend.html">
            <img src="assets/img/demos/home-saas-trend.png" alt="SaaS Application (Trend)" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
          </a>
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
              <a href="home-saas-trend.html" class="fade-up">
                <h3 class="h2">Blanca</h3>
              </a>
              <p class="lead">
                La buena confiable! ideal para regalos
              </p>
              <ul class="list-unstyled my-3">
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/communication/add-user.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Signup form</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/text/menu.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Collapsable accordion</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="assets/img/icons/theme/communication/rss.svg" alt="icon" data-inject-svg />
                  <span class="h6 mb-0 ml-2">Blog listing cards</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary-alt">
    <div class="container">
      <div class="row justify-content-center text-center mb-6">
        <div class="col-xl-8 col-lg-9">
          <h2 class="display-4 mx-xl-6">Necesitas ideas?</h2>
          <p class="lead">
            Inspirate en algunas de nuestras tazas ya entregadas!.
          </p>
        </div>
      </div>
    </div>
    <div class="arrows-inside highlight-selected mb-6" data-flickity='{ "autoPlay": true, "imagesLoaded": true, "wrapAround": true }'>
      <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
        <a href="about-company.html" target="_blank">
          <img src="assets/img/demos/inner-pages/about-company.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
      <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
        <a href="blog-article.html" target="_blank">
          <img src="assets/img/demos/inner-pages/blog-article.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
      <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
        <a href="blog-magazine.html" target="_blank">
          <img src="assets/img/demos/inner-pages/blog-magazine.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
      <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
        <a href="careers.html" target="_blank">
          <img src="assets/img/demos/inner-pages/careers.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
      <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
        <a href="portfolio-case-study.html" target="_blank">
          <img src="assets/img/demos/inner-pages/case-study.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
      <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
        <a href="customer-story.html" target="_blank">
          <img src="assets/img/demos/inner-pages/customer-story.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
      <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
        <a href="knowledgebase.html" target="_blank">
          <img src="assets/img/demos/inner-pages/knowledgebase.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
      <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
        <a href="pricing-slider.html" target="_blank">
          <img src="assets/img/demos/inner-pages/pricing-slider.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
      <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
        <a href="account-sign-up-image.html" target="_blank">
          <img src="assets/img/demos/inner-pages/sign-up-image.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-xl-8 col-lg-9 text-center">
          <h2 class="display-4 mx-xl-6">Clientes Satisfechos!</h2>
          <p class="lead">
            Aqui algunas de las review de nuestros clientes.
          </p>
        </div>
      </div>
      <div class="row" data-isotope-collection data-ignore-hash="true">
        <div class="col-sm-6 col-lg-4" data-isotope-item>
          <div class="card card-body">
            <div class="flex-grow-1 mb-3">
              <p class="lead">
                &ldquo;This is a superb product with very
                <span class="highlight">nice designs and clean code.</span>
                Using it is a breeze. 5-star product. Also, there's updates.&rdquo;
              </p>
            </div>
            <div class="avatar-author align-items-center">
              <img src="assets/img/avatars/envato.svg" alt="Avatar" class="avatar">
              <div class="ml-2">
                <h6>agneesh</h6>
                <span>Themeforest Customer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4" data-isotope-item>
          <div class="card card-body">
            <div class="flex-grow-1 mb-3">
              <p class="lead">
                &ldquo;It’s well designed, easy to use and
                <span class="highlight">very flexible without being bloated.</span>
                Great value for money.&rdquo;
              </p>
            </div>
            <div class="avatar-author align-items-center">
              <img src="assets/img/avatars/bootstrap.svg" alt="Avatar" class="avatar">
              <div class="ml-2">
                <h6>Paul</h6>
                <span>Bootstrap Customer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4" data-isotope-item>
          <div class="card card-body">
            <div class="flex-grow-1 mb-3">
              <p class="lead">
                Very versatile. Seems like
                <span class="highlight">you can build most of the stuff out of the box.</span>Very thoughtful; team must be very experienced in customer stories and their pain points.
              </p>
            </div>
            <div class="avatar-author align-items-center">
              <img src="assets/img/avatars/bootstrap.svg" alt="Avatar" class="avatar">
              <div class="ml-2">
                <h6>rajasekhar reddy</h6>
                <span>Bootstrap Customer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4" data-isotope-item>
          <div class="card card-body">
            <div class="flex-grow-1 mb-3">
              <p class="lead">
                &ldquo;The
                <span class='highlight'>code is very well organized.</span>And as a front-end developer, for me it's essential&rdquo;
              </p>
            </div>
            <div class="avatar-author align-items-center">
              <img src="assets/img/avatars/envato.svg" alt="Avatar" class="avatar">
              <div class="ml-2">
                <h6>theus</h6>
                <span>Themeforest Customer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4" data-isotope-item>
          <div class="card card-body">
            <div class="flex-grow-1 mb-3">
              <p class="lead">
                &ldquo;I like the plethora of interchangeable blocks and individual elements. This is a great and flexible bundle. And for the price, totally worth it. Also a
                <span class="highlight">big shoutout to Craig and James for their quick and helpful support.</span>&rdquo;
              </p>
            </div>
            <div class="avatar-author align-items-center">
              <img src="assets/img/avatars/envato.svg" alt="Avatar" class="avatar">
              <div class="ml-2">
                <h6>garyhorsman</h6>
                <span>Themeforest Customer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4" data-isotope-item>
          <div class="card card-body">
            <div class="flex-grow-1 mb-3">
              <p class="lead">
                &ldquo;It's
                <span class="highlight">the best theme I've ever purchased.</span>Excellent and easy code, excellent design.&rdquo;
              </p>
            </div>
            <div class="avatar-author align-items-center">
              <img src="assets/img/avatars/envato.svg" alt="Avatar" class="avatar">
              <div class="ml-2">
                <h6>felipelobo328</h6>
                <span>Themeforest Customer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-9">
          <h3 class="h2">Preguntas frecuentes</h3>
          <div class="my-4">
            <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="NaN">
              <div data-target="#panel-1" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                <span class="h6 mb-0">Si deseo un diseño personalizado me cuesta mas?</span>
                <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
              </div>
              <div class="collapse" id="panel-1">
                <div class="pt-3">
                  <p>Dependiendo de la complejidad y caracteristicas del diseño el precio puede cambiar, contactate con nosotros para hacer tu presupuesto.</p>

                </div>
              </div>
            </div>
            <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="NaN">
              <div data-target="#panel-2" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                <span class="h6 mb-0">En cuanto tiempo esta mi taza?</span>
                <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
              </div>
              <div class="collapse" id="panel-2">
                <div class="pt-3">
                  <p>Usualmente es de 3 a 4 dias habiles, pero siempre estamos informando el progreso.</p>

                </div>
              </div>
            </div>
            <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="NaN">
              <div data-target="#panel-3" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3">
                <span class="h6 mb-0">Cual es el método de entrega?</span>
                <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
              </div>
              <div class="collapse" id="panel-3">
                <div class="pt-3">
                  <p>Podemos entregar en la Cd de Leon personalmente en centro max, estacion delta o centro, también es posible enviar tu pedido a través 
                    de UBER, aunque el costo del viaje seria pagado po ti.
                  </p>

                </div>
              </div>
            </div>
            <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="NaN">
              <div data-target="#panel-4" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-4">
                <span class="h6 mb-0">También se puede personalizar la caja!?</span>
                <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
              </div>
              <div class="collapse" id="panel-4">
                <div class="pt-3">
                  <p>Asi es!!! puedes personalizar la caja de tu taza con algun mensaje o diseño! 
                  </p>

                </div>
              </div>
            </div>
            
          </div>
          <span>tienes mas preguntas? <a href="#" class="hover-arrow" data-toggle="modal" data-target="#ask-modal">Contactanos</a>
          </span>
          <div class="modal fade" id="ask-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img class="icon bg-dark" src="assets/img/icons/interface/cross.svg" alt="cross interface icon" data-inject-svg />
                  </button>
                  <div class="m-3">
                    <ul class="avatars justify-content-center">
                      <li>
                        <img src="assets/img/avatars/team-1.jpg" alt="Avatar" class="avatar avatar-lg">
                      </li>
                      <li>
                        <img src="assets/img/avatars/team-2.jpg" alt="Avatar" class="avatar avatar-lg">
                      </li>
                      <li>
                        <img src="assets/img/avatars/team-3.jpg" alt="Avatar" class="avatar avatar-lg">
                      </li>
                    </ul>
                    <div class="text-center my-3">
                      <h4 class="h3 mb-1">Pre-sales Questions</h4>
                      <p>
                        Please get in touch for any questions you may have. We typically reply within 24 hours.
                      </p>
                    </div>
                    <form action="/forms/smtp.php" data-form-email novalidate>
                      <div class="form-group">
                        <input type="text" class="form-control" name="contact-name" placeholder="Your Name" required>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" name="contact-email" placeholder="Email Address" required>
                      </div>
                      <div class="form-group">
                        <textarea name="contact-box-message" rows="5" class="form-control" placeholder="Type your message here" required></textarea>
                      </div>
                      <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE"></div>
                      <div class="d-none alert alert-danger" role="alert" data-error-message>
                        Please fill all fields correctly.
                      </div>
                      <div class="d-none alert alert-success" role="alert" data-success-message>
                        Thanks, a member of our team will be in touch shortly.
                      </div>
                      <button type="submit" class="btn btn-block btn-primary btn-loading" data-loading-text="Sending">
                        <img class="icon" src="assets/img/icons/theme/code/loading.svg" alt="loading icon" data-inject-svg />
                        <span>Send</span>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    window.addEventListener("load", function () {    document.querySelector('body').classList.add('loaded');  });
  </script>
